<!DOCTYPE html>
<head>
    <meta charset="utf8">
    <title>CNN 모델 웹서빙</title>
    <style>
	html { 
		font-size: 20px; 
                         font-weight: bold; 
             }
            img {
                         float: left;
                         width: 40%;
                         height: 50%;
		margin: 5px;
		padding: 5px;
                         border: 2px solid #90C;
            }
            p    {
                         clear: both;
            }
    </style>
<body>
    <div class="container">
    <h1>CNN 모델로 요리 이미지 분류</h1>
    <h2>이미지 업로드 및 CNN 예측</h2>
    <hr>
    {% if filename %}<br>
        <div>
            <img src="{{filename}}" width=500 height=450 align=left>
        </div>   
        <br>       
         <p>예측 : {{label}} &nbsp;&nbsp;  정확도 : {{probability}} &nbsp;&nbsp; 칼로리 : {{cal}}</p>          
     {% endif %}

    <form method="post" action="/upload" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="submit">
    </form>
    </div>
</body>
</head>