<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>POTB</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
	<style>
		.ins_title {
			font-size: 88px;
			font-weight: 500;
			text-align: center;
		}

		/* 숨김 파일 입력 요소 스타일 */
		#uploadfile {
			display: none;
		}

		.upload {
			width: 300px;
			height: 50px;
			font-size: 23px;
			border-radius: 30px;
		}

		/* 가운데 정렬을 위한 스타일 */
		.center-button {
			display: flex;
			justify-content: center;
		}
	</style>
</head>

<body>
	<div class="container mt-3">
		<div class="row">
			<div class="col-md-12">
				<span class="ins_title">스캐너를 통해 추출된 이미지를 <br /> 업로드 해주세요. </span>
				<form action="/upload" method="POST" id="image" enctype="multipart/form-data">
					<div class="mb-3 mt-3">
						<div class="mb-3">
							<!-- 숨김 파일 입력 요소 -->
							<input type="file" class="form-control" id="uploadfile" name="uploadfile[]" multiple>
						</div>
					</div>
					<!-- 이미지 업로드 버튼 추가 -->
					<button type="button" class="btn btn-primary" id="btn_upload">
						스캔된 여권 업로드
					</button>
				</form>
			</div>
		</div>
	</div>
	<!-- 파일이 선택되면 파일 이름 표시 -->
	<div id="result"></div>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script>
		// 파일 선택 시 버튼 활성화
		$('#uploadfile').on('change', function () {
			if (this.files.length > 0) {
				$('#btn_upload').show();
			}
		});

		// 이미지 업로드 버튼 클릭 시 파일 선택 다이얼로그 열기
		$('#btn_upload').click(function () {
			$('#uploadfile').click();
		});

		// 이미지 선택 시 AJAX를 사용하여 이미지 업로드 및 결과 처리
		$('#uploadfile').on('input', function () {
			// FormData 객체 생성
			var formData = new FormData($('#image')[0]);

			// AJAX 요청 설정
			$.ajax({
				url: '/upload',
				type: 'POST',
				data: formData,
				contentType: false,
				processData: false,
				success: function (data) {
					// 결과를 동적으로 업데이트
					$('#result').html('<h2>모델 결과:</h2><p>' + data.result + '</p>');
				},
				error: function (error) {
					// 오류 메시지 표시
					$('#result').html('<div class="error">이미지 처리 중 오류가 발생했습니다.</div>');
				}
			});
		});
	</script>
</body>


</html>